@import 'tailwindcss';

@theme {
  /* Primary Colors  */
  --color-primaryColor: #15803d;
  --color-yellowColor: #facc15;
  --color-textWhite: white;

  /* Text Color  */
  --color-headingColor: #1f2937;
  --color-paragraphColor: #1f2937;

  /* Bg Color */
  --color-bgPrimary: #cff0dc;
  --color-bgSrc: #f0fdf4;

  /* Google Fonts */
  --font-primary: 'Poppins', sans-serif;

  /* Dark Color
  --color-dark1Color: ;
  --color-dark2Color: ;
  --color-dark3Color: ;
  --color-dark4Color: ;
  --color-dark5Color: ; */
}

@layer utilities {
  body {
    font-family: var(--font-primary);
  }
  p {
    font-size: 14px;
    color: var(--color-paragraphColor);
  }
  .containers {
    max-width: 1368px;
    @apply mx-auto py-2 px-1;
  }

  .customWidth {
    max-width: 298px;
    height: 178px;
  }
  .wdths {
    width: 330px;
  }
  .borders {
    border-top: 1px solid #ddd;
  }
  #hero_area {
    /* Mobile default */
    background: url('../assets/hero-leaf1.png');
    background-position: bottom left;
    background-size: contain;
    background-repeat: no-repeat;
    background-color: var(--color-bgPrimary);
    z-index: -1;
  }

  /* md and up */
  @media (min-width: 1324px) {
    #hero_area {
      background:
        url('../assets/hero-leaf1.png'), url('../assets/hero-leaf2.png');
      background-position:
        left center,
        right center;
      background-size: contain, contain;
      background-repeat: no-repeat, no-repeat;
      background-color: var(--color-bgPrimary);
    }
  }
}
